.container {
  border: 1px solid #f5f8f5;
  background-color: #f5f8f5;
  opacity: 0.8;
  border-radius: 2px;
  width: 400px;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
